html {
	visibility: hidden;
	overflow: hidden;
}

body * { 
	font-family: Arial, sans-serif;
}

body button {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	outline: none;
}

body button:focus {
	outline: none;
}

body input {
	outline: none;
}

body input:focus {
	outline: none;
}

body .hidden { display: none; }


/******************** Sign In Form  *********************************/

#form {
	position: fixed;
	z-index: 100000;
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #F4F1F1;
}

#form form {
	width: 30%;
	margin: 20px auto;
}

#form label {
	display: block;
	color: #0CC481;
	font-size: 21px;
	letter-spacing: 1px;
	margin-bottom: 8px;
}

#form input {
	width: 100%;
	border: 1px solid lightgray;
	margin-bottom: 20px;
	text-indent: 15px;
	padding: 10px;
}

#form input:focus {
	border: 1px solid #0CC481;
}

#form input::placeholder {
	color: lightgray;
	letter-spacing: 1px;
}

#form .enter_app_page {
	display: inline-block;
	background-color: #0CC481;
	border: none;
	color: #fff;
	font-size: 18px;
	padding: 10px 14px;
	text-decoration: none;
}

/******************** Sign In Form end *********************************/

/************************  HEADER **************************************/


header { 
	position: relative;
	background-color: #0CC481;
	padding: 10px; 
}

header p { display: inline-block; }

header #logo {
	margin-right: 20px;
}

#logo {
	padding: 10px 15px;
	background-color: #FC7100;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	-webkit-box-shadow: 2px 2px 2px #bbb;
	box-shadow: 2px 2px 2px #bbb;
}

#name {
	color: #fff;
	font-size: 18px;
	margin-right: 20px;
}

header span {
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 22px;
	margin-right: 10px;
	padding: 8px;
}

header span i {
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

header span:hover i{
	opacity: 0.8;
}

header .close {
	float: right;
}

.delete_note, .save_note { display: none; }


/************************  HEADER end **************************************/

/*********************** POPUP ********************************************/

body #popup_folder, 
body #popup_note, 
body #popup_tag,
body #popup_note_tag {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
}

#popup_folder button { margin-bottom: 25px; }
#popup_folder .popup_delete_notes_wrapper { display: none; }
#popup_folder .select_folder { display: none; }

#popup_folder p {
	color: #fff;
	font-size: 20px;
	margin-bottom: 15px;
}

#popup_folder label, 
#popup_note label, 
#popup_tag label,
#popup_note_tag label  {
	display: block;
	font-size: 20px;
	margin-bottom: 8px;
	color: #fff;
}

#popup_folder input, 
#popup_note input, 
#popup_tag input,
#popup_note_tag input {  
	width: 100%;
	border: 1px solid lightgray;
	box-sizing:content-box;
	font-size: 18px;
	margin-bottom: 25px;
	text-indent: 15px;
	padding: 10px;
}

#popup_folder input:focus, 
#popup_note input:focus,
#popup_tag input:focus,
#popup_note_tag input:focus { border: 2px solid #0CC481;}

#popup_folder select, 
#popup_note select, 
#popup_tag select {
	width: 100%;
	border: 1px solid lightgray;
	box-sizing:content-box;
	font-size: 18px;
	margin-bottom: 25px;
	padding: 10px;
}

#popup_folder select:focus, 
#popup_note select:focus,
#popup_tag select:focus { outline: 2px solid #0CC481;}

#popup_folder select option, 
#popup_note select option,
#popup_tag select option {
	font-size: 18px;
}

#popup_folder form, 
#popup_note form,
#popup_tag form,
#popup_note_tag form  {
	position: relative;
	width: 30%;
	margin: 20px auto;
}

.popup_close {
	position: absolute;
	top: 0;
	right: -50px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
	text-shadow: 0 1px 0 #000;
	opacity: .5;

	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.popup_close:hover { opacity: 1; }

#popup_folder button, 
#popup_note button,
#popup_tag button,
#popup_note_tag button {
	display: inline-block;
	background-color: #0CC481;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	letter-spacing: 1px;
	margin-right: 20px;
	padding: 10px 14px;
}

#popup_folder button:last-of-type {
	margin-right: 0;
}

#popup_note textarea {
	display: block;
	width: 100%;
	height: 200px;
	box-sizing:content-box;
	font-size: 18px;
	margin-bottom: 25px;
	resize: none;
	padding: 10px;
}

#popup_note textarea:focus { outline: 2px solid #0CC481; }

#popup_note_tag .create_add_tag { margin-bottom: 25px; }

#popup_note_tag .tag_list {
	width: 100%;
	min-height: 200px;
	background-color: #fff;
	margin-bottom: 25px;
	padding: 10px;
}

#popup_note_tag  .tag_list_tag {
	display: inline-block;
	background-color: #F3F3F3;
	border-radius: 10px;
	cursor: pointer;
	margin-right: 10px;
	padding: 5px 10px;

	-webkit-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;

	-webkit-user-select: none;      
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

#popup_note_tag .tag_list_tag:hover { background-color: #0CC481; color: #fff; }
#popup_note_tag .tag_list_tag:last-of-type { margin-right: 0;}

#popup_note_tag .selected_tag { background-color: #0CC481; color: #fff; }

/*********************** POPUP end ********************************************/

/************************ WORK SPACE **************************************/

#application {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
}

/************************* SIDEBAR ***************************************/

#sidebar {
	/*	width: 30%;*/
	background-color: #F4F1F1;
	border-right: 2px solid lightgray;
	overflow-x: visible;
	overflow-y: auto;
	padding-right: 20px;
}

.folders {
	margin-bottom: 20px;
}

.folders ul span,
.tags ul span {
	letter-spacing: 0.5px;
	margin-bottom: 3px;
}

.folders ul span i, 
.tags ul span i {
	color: #0CC481;
}

.folder_name, .tag_name {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-width: 100px;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
}

.colored { background-color: yellow; }

.folder_name i, .tag_name i {
	padding-right: 5px;
}

/************************* SIDEBAR end ***************************************/

/************************* NOTE *********************************************/
#note {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#note p {
	margin-bottom: 0;
}

#note .note_title {
	font-size: 18px;
	font-weight: 600;
	padding: 5px 5px 5px 15px;
}

.note_info{
	padding: 5px 5px 5px 15px;
}

.note_info p {
	display: inline-block;
	color: #C3C3C3;
	font-size: 14px;
	margin-right: 10px;
}

.note_info .add_tag {
	display: none;
	border: 1px solid #C3C3C3;
	color: #C3C3C3;
	cursor: pointer;
	margin-right: 10px;
	padding: 1px 4px;
	border-radius: 50%;

	-webkit-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

.note_info .add_tag:hover {
	background-color: #F9F9F9;
}

.note_info .notes_tags {
	display: inline-block;
	padding: 0;
}

.note_info .notes_tags span {
	display: inline-block;
	background-color: #F3F3F3;
	border-radius: 10px;
	color: #C3C3C3;
	cursor: pointer;
	font-size: 14px;
	margin-right: 10px;
	padding: 5px 10px;

	-webkit-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;

	-webkit-user-select: none;      
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.note_info .tag_list_tag:hover { background-color: #F9F9F9;}
.note_info .tag_list_tag:last-of-type { margin-right: 0;}

#note textarea {
	width: 100%;
	height: 100%;
	border: none;
	border-top: 2px solid #D3D3D3;
	box-sizing: border-box;
	font-size: 16px;
	resize: none;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#note textarea:focus { outline: none; }

.note {
	display: block;
	min-width: 100px;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none; 
	-ms-user-select: none; 
}

/************************* NOTE end *********************************************/


	/************************ WORK SPACE end **************************************/