		<section id="popup_note">
			<form action="#">
				<label for="note_name">Note Name:</label>
				<input type="text" id="note_name">
				<span class="popup_close"><i class="fa fa-times" aria-hidden="true"></i></span>
				<label for="folder_select_note">Note Folder:</label>
				<select id="folder_select_note" class="folders_tree"></select>
				<label>Note Text:</label>
				<textarea class="form-control"></textarea>
				<button type="button" class="btn btn-primary create_note nm_btn" (click)="createNote()">Create</button>
			</form>
		</section>
