		<header class="header">
			<p id="logo"></p>
			<p id="name"></p>
			<span class="btn_folders" (click)="openFolderPopup()"><fa name="folder" aria-hidden="true"></fa></span>
			<span class="btn_notes" (click)="openNotePopup()"><fa name="sticky-note" aria-hidden="true"></fa></span>
			<span class="btn_tags" (click)="openTagPopup()"><fa name="tag" aria-hidden="true"></fa></span>
			<span class="edit" (click)="enableEdit()"><fa name="pencil" aria-hidden="true"></fa></span>
			<span class="save_note" (click)="saveNote()"><fa name="floppy-o" aria-hidden="true"></fa></span>
			<span class="delete_note" (click)="deleteNote()"><fa name="trash-o" aria-hidden="true"></fa></span>
			<span class="close" (click)="exitAppPage()"><fa name="times" aria-hidden="true"></fa></span>
<!-- 			<ul class="folder_content sortable">
				<div class="notes_wrapper"></div>
				<li><div><span data-folders-tree-id="root" class="folder_name">
					<i class="fa folder fa-angle-down" aria-hidden="true"></i> <i class="fa fa-folder-o" aria-hidden="true"></i> 
					Folders</span><ul class="folder_content" style="display: block;"><div class="notes_wrapper"></div>
					<li><div><span data-folders-tree-id="290" class="folder_name">
						<i class="fa folder fa-angle-down" aria-hidden="true"></i> <i class="fa fa-folder-o" aria-hidden="true"></i> 
						1</span><ul class="folder_content" style="display: block;"><div class="notes_wrapper"></div>
						<li><div><span data-folders-tree-id="291" class="folder_name">
							<i class="fa folder fa-angle-down" aria-hidden="true"></i> <i class="fa fa-folder-o" aria-hidden="true"></i> 
							1.1</span><ul class="folder_content" style="display: block;"><div class="notes_wrapper"></div></ul>
						</div></li></ul>
					</div></li>
					<li><div><span data-folders-tree-id="292" class="folder_name">
						<i class="fa folder fa-angle-down" aria-hidden="true"></i> <i class="fa fa-folder-o" aria-hidden="true"></i> 
						2</span><ul class="folder_content" style="display: block;"><div class="notes_wrapper"><span data-note-id="390" class="note ui-draggable ui-draggable-handle" style="position: relative;"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>
						n1</span></div></ul>
					</div></li></ul>
				</div></li>
			</ul> -->
		</header>
