		<header>
			<p id="logo"></p>
			<p id="name"></p>
			<span class="btn_folders" (click)="openFolderPopup()"><fa name="folder" aria-hidden="true"></fa></span>
			<span class="btn_notes" (click)="openNotePopup()"><fa name="sticky-note" aria-hidden="true"></fa></span>
			<span class="btn_tags" (click)="openTagPopup()"><fa name="tag" aria-hidden="true"></fa></span>
			<span class="edit" (click)="enableEdit()"><fa name="pencil" aria-hidden="true"></fa></span>
			<span class="save_note" (click)="saveNote()"><fa name="floppy-o" aria-hidden="true"></fa></span>
			<span class="delete_note" (click)="deleteNote()"><fa name="trash-o" aria-hidden="true"></fa></span>
			<span class="close" (click)="exitAppPage()"><fa name="times" aria-hidden="true"></fa></span>
		</header>
