	<form class="radio_markup">
	<p>Set application markup:</p>
		<div class="form_choice">
			<input type="radio" name="markup" id="cols_2">
			<label for="cols_2">
				<table class="cols_2 cols">
					<tr>
						<td></td>
						<td></td>
					</tr>
				</table>
			</label>
		</div>
		<div class="form_choice">
			<input type="radio" name="markup" id="cols_3">
			<label for="cols_3">
				<table class="cols_3 cols">
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</label>
		</div>
		<button class="markup_btn" (click)="setMarkup()">Apply markup</button>
	</form>