<section id="application">
	<div class="sidebar_wrapper">
		<div id="sidebar" (click)="showNote()"  (click)="showUserLocation()">
			<div class="folders" (dblclick)="toggleFolders()" (click)="renderFolderNotesInColumn()"></div>
			<div class="tags" (dblclick)="toggleTags()" (click)="renderTagNotesInColumn()"></div>
		</div>
	</div>
	<div class="notes_info_container">
		<div class="notes_info">
			<h2></h2>
			<div class="column_notes"></div>
		</div>
	</div>
	<div id="note">
		<p class="note_title"></p>
		<p class="note_title_edit">
			<input type="text">
			<span class="note_title_popup">Please, do not left title field empty</span>
		</p>
		<div class="note_info">
			<p class="notes_folder"></p>
			<p class="creation_date"></p>
			<p class="note_changes"></p>
			<p class="last_change"></p>
			<span class="add_tag" (click)="addTag()">+</span>
			<div class="notes_tags"></div>
		</div>
		<div id="textarea_editor" contenteditable="true" readonly></div>
		<ckeditor class="note_editor"
		[(ngModel)]="ckeditorContent"
		[readonly]="false"
		debounce="500">
	</ckeditor> 
</div>
</section>

