<section id="application">
	<div class="sidebar_wrapper">
		<div id="sidebar" (click)="showNote()">
			<div class="folders" (dblclick)="toggleFolders()"></div>
			<div class="tags" (dblclick)="toggleTags()"></div>
		</div>
	</div>
	<div id="note">
		<p class="note_title"></p>
		<div class="note_info">
			<p class="notes_folder"></p>
			<span class="add_tag" (click)="addTag()">+</span>
			<div class="notes_tags"></div>
		</div>
		<div id="textarea_editor" contenteditable="true" readonly></div>
		<ckeditor class="note_editor"
		[(ngModel)]="ckeditorContent"
		[readonly]="false"
		debounce="500">
	</ckeditor> 
</div>
</section>
