		<header class="header">
			<p id="logo"></p>
			<p id="name"></p>
			<span class="btn btn_folders" (click)="openFolderPopup()">
				<fa name="folder" aria-hidden="true"></fa>
				<span class="button_hint">Click to create folder</span>
			</span>
			<span class="btn btn_notes" (click)="openNotePopup()">
				<fa name="sticky-note" aria-hidden="true"></fa>
				<span class="button_hint">Click to create note</span>
			</span>
			<span class="btn btn_tags" (click)="openTagPopup()">
				<fa name="tag" aria-hidden="true"></fa>
				<span class="button_hint">Click to create tag</span>
			</span>
			<span class="btn edit" (click)="enableEdit()">
				<fa name="pencil" aria-hidden="true"></fa>
				<span class="button_hint">Click to edit current note</span>
			</span>
			<span class="btn save_note" (click)="saveNote()">
				<fa name="floppy-o" aria-hidden="true"></fa>
				<span class="button_hint">Click to save current note</span>
			</span>
			<span class="btn delete_note" (click)="deleteNote()">
				<fa name="trash-o" aria-hidden="true"></fa>
				<span class="button_hint">Click to delete current note</span>
			</span>
			<div class="header_right">
				<span class="btn settings_link" routerLink="/settings">
					<fa name="cogs" aria-hidden="true"></fa>
					<span class="button_hint">Click to go to settings page</span>
				</span>
				<span class="btn close" (click)="exitAppPage()">
					<fa name="times" aria-hidden="true"></fa>
					<span class="button_hint">Click to log out</span>
				</span>
			</div>
		</header>
