header { 
	position: relative;
	background-color: #0CC481;
	padding: 10px; 

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header p { display: inline-block; }

header #logo {
	margin-right: 20px;
}

#logo {
	padding: 10px 15px;
	background-color: #FC7100;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	-webkit-box-shadow: 2px 2px 2px #bbb;
	box-shadow: 2px 2px 2px #bbb;
}

#name {
	color: #fff;
	font-size: 18px;
	margin-right: 20px;

	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	-o-user-select: all;
	user-select: all;
}

header .btn {
	display: inline-block;
	position: relative;
	color: #fff;
	cursor: pointer;
	font-size: 22px;
	margin-right: 10px;
	padding: 8px;
}

header .btn  fa {
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

header .btn :hover fa { opacity: 0.8; }

header .header_right {
	float: right;
}

header .delete_note, 
header .save_note { display: none; }

.settings_link {
	border: none;
	outline: none;
}

.button_hint {
	display: none;
	position: absolute;
	left: -120%;
	top: 100%;
	width: 100px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	font-size: 14px;
	padding: 8px 5px;
	text-align: center;
	border-radius: 6px;
	z-index: 1;
}

.header_right .btn:first-child .button_hint { left: -110%; }

.btn:last-of-type .button_hint { left: -175%; }
.btn:last-of-type .button_hint::after { left: 63%; }

.button_hint::after {
	content: "";
	position: absolute;
	top: -10px;
	left: 50%;
	/*	margin-left: -5px;*/
	border-width: 5px;
	border-style: solid;
	border-color:  transparent transparent rgba(0,0,0,.5) transparent;
}
