header { 
	position: relative;
	background-color: #0CC481;
	padding: 10px; 

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

header p { display: inline-block; }

header #logo {
	margin-right: 20px;
}

#logo {
	padding: 10px 15px;
	background-color: #FC7100;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	-webkit-box-shadow: 2px 2px 2px #bbb;
	box-shadow: 2px 2px 2px #bbb;
}

#name {
	color: #fff;
	font-size: 18px;
	margin-right: 20px;

	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	-o-user-select: all;
	user-select: all;
}

header span {
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 22px;
	margin-right: 10px;
	padding: 8px;
}

header span fa {
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

header span:hover fa { opacity: 0.8; }

header .header_right {
	float: right;
}

header .delete_note, 
header .save_note { display: none; }

.settings_link {
	border: none;
	outline: none;
}
